{% load static %}

{% include 'header.html' %}

{% include 'nav.html' %}

{% include 'slider.html' %}

	<!-- page starts -->
	<div id="page">
		
		
		<div id="content">
			<div class="box">
				<h2>Welcome to ShareIt , About Page</h2>
				<p style="text-align:justify;">
					Welcome to Share It, your fast, secure, and easy solution for sharing files anytime, anywhere. Our mission is to make digital file transfer simple, reliable, and lightning-fast — without the need for cables, data usage, or internet connection.

Whether you're sending photos, videos, music, apps, or documents, Share It helps you transfer them in seconds between devices — across Android, iOS, Windows, and more. We prioritize speed, privacy, and ease-of-use, making file sharing a smooth experience for everyone.

We believe in a world where data moves freely and safely. With millions of users worldwide, we're constantly innovating to bring you the best in peer-to-peer file transfer technology.

Thank you for choosing Share It — share smarter, live faster.

				</p>
			</div>
			<br class="clearfix" />
		</div>


		<div id="sidebar">
			<div class="box">
				<h3>Social Links</h3>
				<ul class="list">
					<li class="first"><a href="#">@Gmail</a></li>
					<li><a href="#">@Linkedin</a></li>
					<li><a href="#">@Instagram</a></li>
					<li class="last"><a href="#">@Facebook</a></li>
				</ul>
			</div>
		</div>


		<br class="clearfix" />
	</div>
	<!-- page ends -->

{% include 'footer.html' %}