{% load static %}

{% include 'header.html' %}

{% include 'nav.html' %}

{% include 'slider.html' %}

	<!-- page starts -->
	<div id="page">
		
		
		<div id="content">
			<div class="box">
				<h2>Welcome to ShareIt , Contact Page</h2>
				<p style="text-align:justify;">
 📞 Contact Us
 <br/><br>
Have questions, feedback, or need help?

We’re here to support you! Whether you’re facing an issue or just want to share your experience, feel free to reach out.
<br/><br>
📧 Email Support:
support@shareitapp.com

<br/><br>

🌐 Website:
www.shareitapp.com
			</div>
			<br class="clearfix" />
		</div>


		<div id="sidebar">
			<div class="box">
				<h3>Social Links</h3>
				<ul class="list">
					<li class="first"><a href="#">@Gmail</a></li>
					<li><a href="#">@Linkedin</a></li>
					<li><a href="#">@Instagram</a></li>
					<li class="last"><a href="#">@Facebook</a></li>
				</ul>
			</div>
		</div>


		<br class="clearfix" />
	</div>
	<!-- page ends -->

{% include 'footer.html' %}