{% load static %}

{% include 'header.html' %}

{% include 'nav.html' %}

{% include 'slider.html' %}

	<!-- page starts -->
	<div id="page">
		
		
		<div id="content">
			<div class="box">
				<h2>Welcome to ShareIt , Home Page</h2>
				<p style="text-align:justify;">
					Welcome to Share It
Transfer files instantly – no cables, no internet, no limits.

📱 Send or Receive Files in Seconds
Share photos, videos, music, apps, and documents between any device, fast and securely.
<br/><br>

⚡ Lightning-Fast Transfers
Up to 200x faster than Bluetooth. No data usage!
<br/><br>

🔒 Safe & Private Sharing
Your data stays with you. No cloud, no third-party access.
<br/><br>

🛠️ Cross-Platform Support
Send between Android, iOS, Windows, and more.

Get started now 

				</p>
			</div>
			<br class="clearfix" />
		</div>


		<div id="sidebar">
			<div class="box">
				<h3>Social Links</h3>
				<ul class="list">
					<li class="first"><a href="#">@Gmail</a></li>
					<li><a href="#">@Linkedin</a></li>
					<li><a href="#">@Instagram</a></li>
					<li class="last"><a href="#">@Facebook</a></li>
				</ul>
			</div>
		</div>


		<br class="clearfix" />
	</div>
	<!-- page ends -->

{% include 'footer.html' %}