{% load static %}

{% include 'header.html' %}

{% include 'nav.html' %}

{% include 'slider.html' %}

	<!-- page starts -->
	<div id="page">
		
		
		<div id="content">
			<div class="box">
				<h2>Welcome to ShareIt , Service Page</h2>
				<p style="text-align:justify;">
					🔧 Our Services
At Share It, we offer a seamless and powerful set of services designed to make file sharing effortless and efficient:

📤 Instant File Transfer
Send files of any type and size — photos, videos, music, documents, apps — with just one tap.
<br/><br>

🌐 Offline Sharing
No internet? No problem. Share files anytime, anywhere using built-in Wi-Fi Direct technology.
<br/><br>

⚡ High-Speed Transfers
Experience blazing-fast speeds, up to 200x faster than Bluetooth.
<br/><br>

🔁 Cross-Platform Support
Share between Android, iOS, Windows, and other supported devices.
<br/><br>

🔒 Secure & Private
Your files never touch the cloud. Everything is transferred directly between devices, keeping your data safe.
<br/><br>

🧩 Simple & Easy to Use
Clean design and user-friendly interface make sharing smooth, even for first-time users.
				</p>
			</div>
			<br class="clearfix" />
		</div>


		<div id="sidebar">
			<div class="box">
				<h3>Social Links</h3>
				<ul class="list">
					<li class="first"><a href="#">@Gmail</a></li>
					<li><a href="#">@Linkedin</a></li>
					<li><a href="#">@Instagram</a></li>
					<li class="last"><a href="#">@Facebook</a></li>
				</ul>
			</div>
		</div>


		<br class="clearfix" />
	</div>
	<!-- page ends -->

{% include 'footer.html' %}